/* _typography.scss */

body, html, h1, h2, h3, h4, p, ul, li, img {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
li {
	text-decoration: none;
}
hr {
	width: 100%;
}
a:hover,
a {
	text-decoration: none;
}
.banner {
	width: 100%;
	height: auto;
	overflow: hidden;
}

	.container {
		max-width: $container-max-width;
	}

/* ~~~~~~~HEADER.PHP~~~~~~~~~~~~~ */

/* ~~~~~~~Alert Banner~~~~~~~~~~~ */
.banner.special {
	background-color: $darkest-blue-color;
	color: white;
}
	.container.special {
		padding: 7px;
	}
		.special_text {
			float: left;
			padding-top: 3px;
		}
/* ~~~~~~~~Title Banner~~~~~~~~~~~ */
.banner.title {
	background-color: white;
}
	.container.title {
		padding: 10px;
	}
			.title_logo	{ /* Image Width */
				width: 230px;
			}
			.phone_logo {
				padding-top: 20px;
				padding-right: 5px;
				width: 25px;
				float: left;
			}
			.phone_number {
				float: left;
				color: gray;
				padding-top: 20px;
			}
/* ~~~~~~~~~~ Nav Banner ~~~~~~~~~~~~ */
.banner.nav {
	background-color: $light-blue-color;
}
	.container.nav {
		padding: 10px;
	}
		#menu-main-menu {
			height: auto;
			overflow: auto;
			width: 750px;
			float: left;
			padding-top: 8px;
		}
			#menu-main-menu a {
				color: white;
				float: left;
				padding-right: 35px;
			}
		.more_menu {
			display: none;
			width: 35px;
			float: right;
			cursor: pointer;
		}
		.menu_title {
			display: none;
			color: white;
			float: left;
		}
		.pay_bill {
			float: right;
			color: #33AAEE;
			background-color: white;
		}
/* ~~~~~~~~~~~~FRONT-PAGE.PHP~~~~~~~~~~ */
/* ~~~~~~~~~~~~ Front Picture ~~~~~~~~~ */
.banner.front_pic {
	position: relative;

}
.front_page_pic {
	width: 100%;
}
	.photo_caption_box {
		position: absolute;
		bottom: 0;
		right: 20%;
		background-color: $light-blue-color;
		padding: 10px;
		color: white;
		width: 400px;
	}
/* ~~~~~~~~~~~~~ Company Description ~~~~~~~ */
.banner.company_description {
	background-color: $darker-blue-color;
	color: white;
}
.container.company_description {
	padding: 75px;
}

.container.services,
.container.projects,
.container.footer {
	padding: 50px;
}
	.services_title {
		padding-top: 65px;
		padding-bottom: 25px;
	}
/* ~~~~~~~~~~~~~ Projects ~~~~~~~~~~~~~~~~ */
.banner.projects {
	background-color: #EEEEEE;
}
.project_box {
	width: 250px;
	height: 100px;
	background-color: gray;
	margin-bottom: 10px;
}

.line {
	display: none;
	color: #BBBBBB;
}
.blue_heading {
	color: $darkest-blue-color;
}
/* ~~~~~~~~~~~~PAGE.PHP~~~~~~~~~~~~~~~~ */
.container.page_title {
	padding: 20px;
}

.page_title_text {
	color: #334488;
}
.container.page_content {
	padding: 20px;
}

/* ~~~~~~~~~~~~FOOTER.PHP~~~~~~~~~~~~~~~ */
.banner.footer {
	background-color: $darkest-blue-color;
}
	.list li {
		overflow: auto;
	}
	.footer_title {
		padding-bottom: 10px;
		color: $footer-color;
	}
	.footer_content {
		color: #BBBBBB;
	}
	
	.contact_text{
		float: left;
	}
	.icon {
		width: 15px;
		float: left;
		padding-right: 5px;
		padding-top: 5px;
	}

.copyright_logo,
.copyright_text,
.copyright_section {
	float: left;
}
.copyright_logo {
	width: 15px;
	padding-top: 3px;
	border-radius: 50%;
	margin-right: 5px;
	background-color: #334488;
}
.webspec_text {
	float: right;
	color: #BBBBBB;
}
.copyright_text {
	color: #BBBBBB;
}

/* ~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~ */ 

@media screen and (max-width: 992px) {
	.line {
		display: block;
	}
	#menu-main-menu {
		display: none;
		clear: both;
		width: 100%;
		float: none;
	}
	.pay_bill {
		display: none;
		float: none;
		margin-top: 15px;
	}
		#menu-main-menu li {
			padding-top: 15px;
		}
		#menu-main-menu a {
			float: none;
		}
	.more_menu {
		display: block;
	}
	.menu_title {
		display: block;
	}

	.banner.front_pic{
		position: static;
	}
		.photo_caption_box {
			position: static;
			width: 100%;
		}
			.btn.btn-default.photo_link {
				width: 100%;
			}
	.phone_and_logo {
		width: 148px;
		margin: 0 auto;
	}
	.title_and_logo {
		width: 290px;
		margin: 0 auto;
	}
}