/* _variables.scss */

$light-blue-color: #33AAEE;
$darker-blue-color: darken($light-blue-color, 10);
$footer-color: darken($darker-blue-color, 10);
$darkest-blue-color: darken($light-blue-color, 30);

$container-max-width: 870px;