/* Theme Name: Water Test */
/* _variables.scss */
/* _typography.scss */
/* line 3, sass/partials/_typography.scss */
body, html, h1, h2, h3, h4, p, ul, li, img {
  margin: 0;
  padding: 0;
}

/* line 7, sass/partials/_typography.scss */
ul {
  list-style-type: none;
}

/* line 10, sass/partials/_typography.scss */
li {
  text-decoration: none;
}

/* line 13, sass/partials/_typography.scss */
hr {
  width: 100%;
}

/* line 16, sass/partials/_typography.scss */
a:hover,
a {
  text-decoration: none;
}

/* line 20, sass/partials/_typography.scss */
.banner {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* line 26, sass/partials/_typography.scss */
.container {
  max-width: 870px;
}

/* ~~~~~~~HEADER.PHP~~~~~~~~~~~~~ */
/* ~~~~~~~Alert Banner~~~~~~~~~~~ */
/* line 33, sass/partials/_typography.scss */
.banner.special {
  background-color: #0a547e;
  color: white;
}

/* line 37, sass/partials/_typography.scss */
.container.special {
  padding: 7px;
}

/* line 40, sass/partials/_typography.scss */
.special_text {
  float: left;
  padding-top: 3px;
}

/* ~~~~~~~~Title Banner~~~~~~~~~~~ */
/* line 45, sass/partials/_typography.scss */
.banner.title {
  background-color: white;
}

/* line 48, sass/partials/_typography.scss */
.container.title {
  padding: 10px;
}

/* line 51, sass/partials/_typography.scss */
.title_logo {
  /* Image Width */
  width: 230px;
}

/* line 54, sass/partials/_typography.scss */
.phone_logo {
  padding-top: 20px;
  padding-right: 5px;
  width: 25px;
  float: left;
}

/* line 60, sass/partials/_typography.scss */
.phone_number {
  float: left;
  color: gray;
  padding-top: 20px;
}

/* ~~~~~~~~~~ Nav Banner ~~~~~~~~~~~~ */
/* line 66, sass/partials/_typography.scss */
.banner.nav {
  background-color: #33AAEE;
}

/* line 69, sass/partials/_typography.scss */
.container.nav {
  padding: 10px;
}

/* line 72, sass/partials/_typography.scss */
#menu-main-menu {
  height: auto;
  overflow: auto;
  width: 750px;
  float: left;
  padding-top: 8px;
}

/* line 79, sass/partials/_typography.scss */
#menu-main-menu a {
  color: white;
  float: left;
  padding-right: 35px;
}

/* line 84, sass/partials/_typography.scss */
.more_menu {
  display: none;
  width: 35px;
  float: right;
  cursor: pointer;
}

/* line 90, sass/partials/_typography.scss */
.menu_title {
  display: none;
  color: white;
  float: left;
}

/* line 95, sass/partials/_typography.scss */
.pay_bill {
  float: right;
  color: #33AAEE;
  background-color: white;
}

/* ~~~~~~~~~~~~FRONT-PAGE.PHP~~~~~~~~~~ */
/* ~~~~~~~~~~~~ Front Picture ~~~~~~~~~ */
/* line 102, sass/partials/_typography.scss */
.banner.front_pic {
  position: relative;
}

/* line 106, sass/partials/_typography.scss */
.front_page_pic {
  width: 100%;
}

/* line 109, sass/partials/_typography.scss */
.photo_caption_box {
  position: absolute;
  bottom: 0;
  right: 20%;
  background-color: #33AAEE;
  padding: 10px;
  color: white;
  width: 400px;
}

/* ~~~~~~~~~~~~~ Company Description ~~~~~~~ */
/* line 119, sass/partials/_typography.scss */
.banner.company_description {
  background-color: #1292dc;
  color: white;
}

/* line 123, sass/partials/_typography.scss */
.container.company_description {
  padding: 75px;
}

/* line 127, sass/partials/_typography.scss */
.container.services,
.container.projects,
.container.footer {
  padding: 50px;
}

/* line 132, sass/partials/_typography.scss */
.services_title {
  padding-top: 65px;
  padding-bottom: 25px;
}

/* ~~~~~~~~~~~~~ Projects ~~~~~~~~~~~~~~~~ */
/* line 137, sass/partials/_typography.scss */
.banner.projects {
  background-color: #EEEEEE;
}

/* line 140, sass/partials/_typography.scss */
.project_box {
  width: 250px;
  height: 100px;
  background-color: gray;
  margin-bottom: 10px;
}

/* line 147, sass/partials/_typography.scss */
.line {
  display: none;
  color: #BBBBBB;
}

/* line 151, sass/partials/_typography.scss */
.blue_heading {
  color: #0a547e;
}

/* ~~~~~~~~~~~~PAGE.PHP~~~~~~~~~~~~~~~~ */
/* line 155, sass/partials/_typography.scss */
.container.page_title {
  padding: 20px;
}

/* line 159, sass/partials/_typography.scss */
.page_title_text {
  color: #334488;
}

/* line 162, sass/partials/_typography.scss */
.container.page_content {
  padding: 20px;
}

/* ~~~~~~~~~~~~FOOTER.PHP~~~~~~~~~~~~~~~ */
/* line 167, sass/partials/_typography.scss */
.banner.footer {
  background-color: #0a547e;
}

/* line 170, sass/partials/_typography.scss */
.list li {
  overflow: auto;
}

/* line 173, sass/partials/_typography.scss */
.footer_title {
  padding-bottom: 10px;
  color: #0e73ad;
}

/* line 177, sass/partials/_typography.scss */
.footer_content {
  color: #BBBBBB;
}

/* line 181, sass/partials/_typography.scss */
.contact_text {
  float: left;
}

/* line 184, sass/partials/_typography.scss */
.icon {
  width: 15px;
  float: left;
  padding-right: 5px;
  padding-top: 5px;
}

/* line 191, sass/partials/_typography.scss */
.copyright_logo,
.copyright_text,
.copyright_section {
  float: left;
}

/* line 196, sass/partials/_typography.scss */
.copyright_logo {
  width: 15px;
  padding-top: 3px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #334488;
}

/* line 203, sass/partials/_typography.scss */
.webspec_text {
  float: right;
  color: #BBBBBB;
}

/* line 207, sass/partials/_typography.scss */
.copyright_text {
  color: #BBBBBB;
}

/* ~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~ */
@media screen and (max-width: 992px) {
  /* line 214, sass/partials/_typography.scss */
  .line {
    display: block;
  }

  /* line 217, sass/partials/_typography.scss */
  #menu-main-menu {
    display: none;
    clear: both;
    width: 100%;
    float: none;
  }

  /* line 223, sass/partials/_typography.scss */
  .pay_bill {
    display: none;
    float: none;
    margin-top: 15px;
  }

  /* line 228, sass/partials/_typography.scss */
  #menu-main-menu li {
    padding-top: 15px;
  }

  /* line 231, sass/partials/_typography.scss */
  #menu-main-menu a {
    float: none;
  }

  /* line 234, sass/partials/_typography.scss */
  .more_menu {
    display: block;
  }

  /* line 237, sass/partials/_typography.scss */
  .menu_title {
    display: block;
  }

  /* line 241, sass/partials/_typography.scss */
  .banner.front_pic {
    position: static;
  }

  /* line 244, sass/partials/_typography.scss */
  .photo_caption_box {
    position: static;
    width: 100%;
  }

  /* line 248, sass/partials/_typography.scss */
  .btn.btn-default.photo_link {
    width: 100%;
  }

  /* line 251, sass/partials/_typography.scss */
  .phone_and_logo {
    width: 148px;
    margin: 0 auto;
  }

  /* line 255, sass/partials/_typography.scss */
  .title_and_logo {
    width: 290px;
    margin: 0 auto;
  }
}
